h1 {
    font-size: 2em;
    font-weight: bold;
}

.row {
    margin-top: 10em;    
    margin-bottom: 10em;    
}

img {
    display: block;
    width: 50%;
}

button {
    margin-top: 1em;
    text-align: center;
}

ul li {
    font-size: 1.5em;    
}

.poem {
    list-style: none;

}

.poem li {
    font-style: italic;
}